<div class="min-space"></div>

<div ng-if="$parent.vm.displayBookmarks" ng-init="vm.init()"></div>

<nav class="navbar2">
  <div class="navbar-brand" ng-init="imgsrc0='images/add.png'" ng-mouseover="imgsrc0='images/add_blue.png'" ng-mouseout="imgsrc0='images/add.png'" title="Add bookmark">
    <a class="navbar-brand1" data-toggle="modal" data-target="#addBookmarkModal" ng-click="vm.addModalOperation()">
      <img src="{{imgsrc0}}" style="cursor: pointer"/>
    </a>
  </div>

  <div ng-show="vm.selectedBookmark">
    <div class="nav-icons" ng-init="imgsrc='images/share.png'" ng-mouseover="imgsrc='images/share_blue.png'" ng-mouseout="imgsrc='images/share.png'" title="Share bookmark">
      <img class="nav-icons" src="{{imgsrc}}" style="cursor: pointer" data-toggle="modal" data-target="#shareBookmarkModal"/>
    </div>
  </div>
  <div ng-show="!vm.selectedBookmark">
    <div class="nav-icons" ng-init="imgsrc='images/share.png'" ng-mouseover="imgsrc='images/share_red.png'" ng-mouseout="imgsrc='images/share.png'" title="Please select bookmark">
        <img class="nav-icons" src="{{imgsrc}}" style="cursor: pointer"/>
    </div>
  </div>
  <div ng-show="vm.selectedBookmark">
    <div class="nav-icons" ng-init="imgsrc1='images/trash.png'" ng-mouseover="imgsrc1='images/trash_blue.png'" ng-mouseout="imgsrc1='images/trash.png'" title="Delete bookmark">
        <img class="nav-icons" src="{{imgsrc1}}" style="cursor: pointer" data-toggle="modal" data-target="#deleteBookmarkModal"/>
    </div>
  </div>
  <div ng-show="!vm.selectedBookmark">
    <div class="nav-icons" ng-init="imgsrc1='images/trash.png'" ng-mouseover="imgsrc1='images/trash_red.png'" ng-mouseout="imgsrc1='images/trash.png'" title="Please select bookmark">
      <img class="nav-icons" src="{{imgsrc1}}" style="cursor: pointer"/>
    </div>
  </div>

  <div ng-show="vm.selectedBookmark">
    <div class="nav-icons" ng-init="imgsrc2='images/edit.png'" ng-mouseover="imgsrc2='images/edit_blue.png'" ng-mouseout="imgsrc2='images/edit.png'" title="Edit bookmark">
        <img class="nav-icons" src="{{imgsrc2}}" style="cursor: pointer" data-toggle="modal" data-target="#addBookmarkModal" ng-click="vm.editModalOperation()"/>
    </div>
  </div>
  <div ng-show="!vm.selectedBookmark">
    <div class="nav-icons" ng-init="imgsrc2='images/edit.png'" ng-mouseover="imgsrc2='images/edit_red.png'" ng-mouseout="imgsrc2='images/edit.png'" title="Please select bookmark">
      <img class="nav-icons" src="{{imgsrc2}}" style="cursor: pointer"/>
    </div>
  </div>

  <div ng-show="vm.selectedBookmark">
    <div class="nav-icons" ng-init="imgsrc3='images/details.png'" ng-mouseover="imgsrc3='images/details_blue.png'" ng-mouseout="imgsrc3='images/details.png'" title="Bookmark details">
      <img class="nav-icons" src="{{imgsrc3}}" style="cursor: pointer" data-toggle="modal" data-target="#showBookmarkDetails" ng-click="vm.showBookmarkDetails()"/>
    </div>
  </div>
  <div ng-show="!vm.selectedBookmark">
    <div class="nav-icons" ng-init="imgsrc3='images/details.png'" ng-mouseover="imgsrc3='images/details_red.png'" ng-mouseout="imgsrc3='images/details.png'" title="Please select bookmark">
      <img class="nav-icons" src="{{imgsrc3}}" style="cursor: pointer"/>
    </div>
  </div>

  <div ng-hide="true" class="nav-icons" ng-init="imgsrc4='images/tab.png'" ng-mouseover="imgsrc4='images/tab_blue.png'" ng-mouseout="imgsrc4='images/tab.png'">
    <a href="{{vm.selectedBookmark.url}}" target="_blank">
      <img class="nav-icons" src="{{imgsrc4}}" style="cursor: pointer"/>
    </a>
  </div>
</nav>

<div class="bookmark-container" ng-show="vm.bookmarks.length != 0">
  <div class="panel panel-primary" style="cursor: pointer" ng-repeat="bookmark in vm.bookmarks" ng-click="vm.selectBookmark(bookmark)" ng-dblclick="vm.openBookmark(bookmark)" ng-class="{selected: bookmark === vm.selectedBookmark}">
    <div class="panel-heading">
      <h3 class="panel-title">{{bookmark.title}}</h3>
    </div>
    <div class="panel-content">
      <div class="panel-body">{{bookmark.url}}</div>
    </div>
    <div class="panel-footer" ng-show="">
      <div class="panel-footer1">
        <a ng-href="{{bookmark.url}}" target="_blank"><img class="panel" src="images/tab.png"></a>
      </div>
      <div class="panel-footer2">
        <img class="panel" src="images/details.png" style="cursor: pointer" data-toggle="modal" data-target="#showBookmarkDetails" ng-click="vm.showBookmarkDetails()">
      </div>
    </div>
  </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
</div>

<div class="modal fade" id="addBookmarkModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Bookmark {{vm.operation.name}}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <label for="inputTitle" class="col-lg-2 control-label">Title</label>
              <div class="col-lg-10">
                <input class="form-control" id="inputTitle" placeholder="Title" type="text" ng-model="vm.bookmark.title">
              </div>

              <label for="inputURL" class="col-lg-2 control-label">URL</label>
              <div class="col-lg-10">
                <input class="form-control" id="inputURL" placeholder="http:///www.example.com" type="text" ng-model="vm.bookmark.url">
              </div>

              <label for="inputDescription" class="col-lg-2 control-label">Description</label>
              <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="inputDescription" placeholder="Description" ng-model="vm.bookmark.description"></textarea>
              </div>

              <label for="selectCategory" class="col-lg-2 control-label">Category</label>
              <div ng-show="vm.operation.name === 'add'"class="col-lg-10">
                <select class="form-control" id="selectCategory" ng-model="vm.category" ng-options="category.id as category.name for category in vm.categories">
                  <option value="" disabled>-- Must select a category --</option>
                </select>
              </div>
              <div ng-show="vm.operation.name === 'edit'"class="col-lg-10">
                <select class="form-control" id="selectCategory" ng-model="vm.category" ng-options="category.id as category.name for category in vm.categories | categoryFilter:vm.bookmark.category">
                  <option value="">{{vm.selectedBookmark.category.name}}</option>
                </select>
              </div>
              
              <label for="inputTags" class="col-lg-2 control-label">Tags</label>
              <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="inputTags" placeholder="Tags" ng-model="vm.tags"></textarea>
              </div>

              <label class="col-lg-2 control-label">Privacy</label>
              <div class="col-lg-10">
                <div class="radio">
                  <label>
                    <input name="optionsRadios" id="optionsRadios1" value="option1" ng-checked="!vm.public || vm.bookmark.operation === 'add'" type="radio" ng-click="vm.setBookmarkPrivacy(false)">
                    Private
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input name="optionsRadios" id="optionsRadios2" value="option2" ng-checked="vm.public" type="radio" ng-click="vm.setBookmarkPrivacy(true)">
                    Public
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="vm.saveBookmark(vm.bookmark)">Save changes</button>
        <div class="alert-container alert alert-danger" ng-if="vm.error">
          {{vm.error}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="showBookmarkDetails" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Bookmark details</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped table-hover ">
          <tr class="active" style="overflow: auto;">
            <td>Title</td>
            <td style="overflow: auto;">{{vm.selectedBookmark.title}}</td>
          </tr>
          <tr class="active" style="overflow: auto;">
            <td>URL</td>
            <td style="overflow: auto;">{{vm.selectedBookmark.url}}</td>
          </tr>
          <tr class="active" style="overflow: auto;">
            <td>Description</td>
            <td style="overflow: auto;">{{vm.selectedBookmark.description}}</td>
          </tr>
          <tr class="active" style="overflow: auto;">
            <td>Category</td>
            <td style="overflow: auto;">{{vm.selectedBookmark.category.name}}</td>
          </tr>
          <tr class="active" style="overflow: auto;">
            <td>Privacy</td>
            <td style="overflow: auto;" ng-show="vm.selectedBookmark.public">public</td>
            <td style="overflow: auto;" ng-show="!vm.selectedBookmark.public">private</td>
          </tr>
          <tr class="active" style="overflow: auto;">
            <td>Tags</td>
            <td style="overflow: auto;"><span ng-repeat="selectedBookmarkTag in vm.selectedBookmark.tags">{{selectedBookmarkTag.name}} </span></td>
          </tr>
            <tr class="active" style="overflow: auto;">
            <td>Date</td>
            <td style="overflow: auto;">{{vm.selectedBookmark.date | date:'dd-MM-yyyy'}}</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <div class="alert-container alert alert-danger" ng-if="vm.error">
          {{vm.error}}
        </div>
      </div>
    </div>
  </div>
</div>

 <div class="modal fade" id="shareBookmarkModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body" style="font-size: 125%">Your bookmark will be
          <span ng-show="!vm.selectedBookmark.public" style="color: green; font-weight: bold">shared</span>
          <span ng-show="vm.selectedBookmark.public" style="color: red; font-weight: bold">hidden</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="vm.shareBookmark()">Confirm</button>
      </div>
    </div>
  </div>
 </div>

  <div class="modal fade" id="deleteBookmarkModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body" style="font-size: 125%">
            Are you sure you want to <span style="color: red; font-weight: bold">delete</span> your bookmark?
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="vm.deleteBookmark()">Confirm</button>
      </div>
    </div>
  </div>
 </div>
