<div class="container">
    <div class="space"></div>
    <div ng-show="vm.registration">
        <div class="form-container2">
            <fieldset class="login-form">
                <legend>Log In</legend>
                <div class="form-group">
                    <input class="form-control" id="focusedInput" type="text" placeholder="Username" required ng-model="vm.credentials.username">
                </div>
                <div class="form-group">
                    <input class="form-control" id="focusedInput" type="password" placeholder="Password" required ng-model="vm.credentials.password">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="vm.login()">Log in</button>
                <div class="alert alert-danger" ng-if="vm.error">
                    {{vm.error}}
                </div>
            </fieldset>
        </div>
        <div class="space1"></div>
        <div class="form-container1">
            <p>Don't have an account? <a style="cursor: pointer" ng-click="vm.switchLogin()">Sign up</a></p>
        </div>
        <div class="space"></div>
    </div>
    <div ng-show="!vm.registration">
        <div class="form-container">
            <fieldset class="register-form">
                <legend>Don't have an account? Sign up!</legend>
                <div class="form-group">
                    <input class="form-control" id="focusedInput" type="text" placeholder="First Name" required ng-model="vm.user.firstName">
                </div>
                <div class="form-group">
                    <input class="form-control" id="focusedInput" type="text" placeholder="Last Name" required ng-model="vm.user.lastName">
                </div>
                <div class="form-group">
                    <input class="form-control" id="focusedInput" type="text" placeholder="Email" required ng-model="vm.user.email">
                </div>
                <div class="form-group">
                    <input class="form-control" id="focusedInput" type="text" placeholder="Username" required ng-model="vm.user.username">
                </div>
                <div class="form-group">
                    <input class="form-control" id="focusedInput" type="password" placeholder="Password" required ng-model="vm.user.password">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="vm.saveUser(vm.user)">Sign up</button>
                <div class="alert alert-danger" ng-if="vm.error">
                    {{vm.error}}
                </div>
            </fieldset>
        </div>
        <div class="space1"></div>
        <div class="form-container1">
            <p>Have an account? <a style="cursor: pointer" ng-click="vm.switchLogin()">Log in</a></p>
        </div>
        <div class="space"></div>
    </div>
</div>
