<div class="space"></div>

<div ng-show="vm.showLoginPage">

  <div class="form-container2">
    <form>
      <fieldset class="login-form">
        <legend>Log In</legend>

        <div class="form-group">
          <input class="form-control" autofocus="" id="focusedInput" type="text" placeholder="Username"  ng-model="vm.credentials.username">
        </div>

        <div class="form-group">
          <input class="form-control" id="focusedInput" type="password" placeholder="Password"  ng-model="vm.credentials.password">
        </div>

        <a href="#/home" class="btn btn-primary btn-success btn-login" type="submit" ng-click="vm.login(vm.credentials)">Log in</a>
      </fieldset>
    </form>
  </div>

  <div class="alert-container alert alert-danger" ng-if="vm.error">
    {{vm.error}}
  </div>

  <div class="alert-container alert alert-success alert-dismissible" ng-if="vm.success">
    <button type="button" class="close" ng-click="vm.success = null">&times;</button>
    {{vm.success}}
  </div>

  <div class="space1"></div>

  <div class="form-container1">
    <p>Don't have an account? <a style="cursor: pointer" ng-click="vm.toggleLoginPage()">Sign up</a></p>
  </div>

  <div class="space"></div>

</div>

<div ng-show="!vm.showLoginPage">

  <div class="form-container">
    <form>
      <fieldset class="register-form">
        <legend>Don't have an account? Sign up!</legend>

        <div class="form-group">
          <input name="first_name" autofocus="" class="form-control" id="focusedInput" type="text" placeholder="First Name"  ng-model="vm.registration.firstName">
        </div>

        <div class="form-group">
          <input name="last_name" class="form-control" id="focusedInput" type="text" placeholder="Last Name"  ng-model="vm.registration.lastName">
        </div>

        <div class="form-group">
          <input name="email" class="form-control" id="focusedInput" type="text" placeholder="Email"  ng-model="vm.registration.email">
        </div>

        <div class="form-group">
          <input name="username" class="form-control" id="focusedInput" type="text" placeholder="Username"  ng-model="vm.registration.username">
        </div>

        <div class="form-group">
          <input name="password" class="form-control" id="focusedInput" type="password" placeholder="Password"  ng-model="vm.registration.password">
        </div>

        <button type="submit" class="btn btn-primary btn-success btn-login" ng-click="vm.saveUser(vm.registration)">Sign up</button>
      </fieldset>
    </form>
  </div>

  <div class="alert-container alert alert-danger" ng-if="vm.error">
    {{vm.error}}
  </div>

  <div class="space1"></div>

  <div class="form-container1">
    <p>Have an account? <a style="cursor: pointer" ng-click="vm.toggleLoginPage()">Log in</a></p>
  </div>

  <div class="space"></div>
</div>
