<div class="min-space"></div>
<nav class="navbar3">
  <div class="navbar-brand">
    <p class="navbar-brand1">Search by
    </p>
  </div>
  <div ng-show="!vm.disableImport && vm.selectedBookmark">
    <div class="nav-icons" ng-init="imgsrc5='images/import.png'" ng-mouseover="imgsrc5='images/import_blue.png'" ng-mouseout="imgsrc5='images/import.png'" title="Import a bookmark">
      <img class="nav-icons" src="{{imgsrc5}}" style="cursor: pointer" data-toggle="modal" data-target="#importBookmarkModal"/>
    </div>
  </div>
  <div ng-show="vm.disableImport && vm.selectedBookmark">
    <div class="nav-icons" ng-init="imgsrc6='images/import.png'" ng-mouseover="imgsrc6='images/import_red.png'" ng-mouseout="imgsrc6='images/import.png'" title="Please select a different bookmark">
      <img class="nav-icons" src="{{imgsrc6}}" style="cursor: pointer"/>
    </div>
  </div>
  <div ng-show="!vm.selectedBookmark">
    <div class="nav-icons" ng-init="imgsrc6='images/import.png'" ng-mouseover="imgsrc6='images/import_red.png'" ng-mouseout="imgsrc6='images/import.png'" title="Please select a bookmark">
      <img class="nav-icons" src="{{imgsrc6}}" style="cursor: pointer"/>
    </div>
  </div>

  <div ng-show="vm.selectedBookmark">
    <div class="nav-icons" ng-init="imgsrc3='images/details.png'" ng-mouseover="imgsrc3='images/details_blue.png'" ng-mouseout="imgsrc3='images/details.png'" title="Bookmark details">
      <img class="nav-icons" src="{{imgsrc3}}" style="cursor: pointer" data-toggle="modal" data-target="#showBookmarkDetails" ng-click="vm.showBookmarkDetails(); vm.getBookmarkComments(); vm.showRating()"/>
    </div>
  </div>

  <div ng-show="!vm.selectedBookmark">
    <div class="nav-icons" ng-init="imgsrc3='images/details.png'" ng-mouseover="imgsrc3='images/details_red.png'" ng-mouseout="imgsrc3='images/details.png'" title="Please select a bookmark">
      <img class="nav-icons" src="{{imgsrc3}}" style="cursor: pointer"/>
    </div>
  </div>
  <div ng-hide="true" class="nav-icons" ng-init="imgsrc4='images/tab.png'" ng-mouseover="imgsrc4='images/tab_blue.png'" ng-mouseout="imgsrc4='images/tab.png'">
    <a href="{{vm.selectedBookmark.url}}" target="_blank">
      <img class="nav-icons" src="{{imgsrc4}}" style="cursor: pointer"/>
    </a>
  </div>
  <div class="min-space"></div>
  <div class="form-group search-group">
    <label class="col-lg-2 control-label control-label1" for="inputDefault">User</label>
    <div class="col-lg-4">
      <input type="text" class="form-control resized-height" id="inputDefault" placeholder="Username" ng-model="search.user.username">
    </div>
  </div>
  <div class="form-group search-group">
    <label class="col-lg-2 control-label control-label1" for="inputDefault">Title</label>
    <div class="col-lg-4">
      <input type="text" class="form-control resized-height" id="inputDefault" placeholder="Title" ng-model="search.title">
    </div>
  </div>
  <div class="form-group search-group">
    <label for="select" class="col-lg-2 control-label control-label1">Category</label>
    <div class="col-lg-4">
      <select class="form-control resized-height" id="select" ng-model="search.category.name">
        <option value="">All</option>
        <option ng-repeat="option in vm.categories" value="{{option.name}}">{{option.name}}</option>
      </select>
    </div>
  </div>

  <div class="form-group search-group">
    <label for="textArea" class="col-lg-2 control-label control-label1">Tags</label>
    <div class="col-lg-4">
      <tags-input type="text" id="inputDefault" placeholder="Tags" ng-model="tagsearch.tags"></tags-input>
    </div>
  </div>
</nav>

<div class="bookmark-container" ng-show="vm.publicBookmarks.length != 0">
  <div class="panel panel-primary" style="cursor: pointer" ng-repeat="bookmark in vm.publicBookmarks | filter:search:strict | tagFilter:tagsearch.tags" ng-click="vm.selectBookmark(bookmark)" ng-dblclick="vm.openBookmark(bookmark)" ng-class="{selected: bookmark === vm.selectedBookmark}">
    <div class="panel-heading">
      <h3 class="panel-title">{{bookmark.title}}</h3>
    </div>
    <div class="panel-content">
      <div class="panel-body">{{bookmark.url}}</div>
    </div>
  </div>
  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
</div>

<div class="modal fade" id="importBookmarkModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body" style="font-size: 125%">
          Are you sure you want to import <span style="color: blue; font-weight: italic">{{vm.selectedBookmark.title}}</span>?
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="vm.importBookmark(vm.selectedBookmark.id)">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="showBookmarkDetails" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Bookmark details</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="addEditBookmarkForm">
          <fieldset>
            <div class="form-group">
              <label for="inputTitle" class="col-lg-2 control-label">Title</label>
              <div class="col-lg-10">
                <input name="title" class="form-control" id="inputTitle" placeholder="Title" type="text" ng-disabled="true" ng-model="vm.selectedBookmark.title">
              </div>

              <label for="inputURL" class="col-lg-2 control-label">URL</label>
              <div class="col-lg-10">
                <input name="url" class="form-control" id="inputURL" placeholder="http:///www.example.com" type="text" ng-disabled="true" ng-model="vm.selectedBookmark.url">
              </div>

              <label for="inputDescription" class="col-lg-2 control-label">Description</label>
              <div class="col-lg-10">
                <input class="form-control" id="inputDescription" placeholder="Description" ng-disabled="true" ng-model="vm.selectedBookmark.description">
              </div>

              <label for="selectCategory" class="col-lg-2 control-label">Category</label>
              <div class="col-lg-10">
                <select name="category" class="form-control" id="selectCategory" ng-disabled="true" ng-model="vm.selectedBookmark.category" ng-options="category as category.name for category in vm.categories track by category.id">
                </select>
              </div>

              <label for="inputTags" class="col-lg-2 control-label">Tags</label>
              <div class="col-lg-10">
                <tags-input id="inputTags" placeholder="Tags" ng-disabled="true" ng-model="vm.selectedBookmark.tags"></tags-input>
              </div>

              <label class="col-lg-2 control-label">Privacy</label>
              <div class="col-lg-10" style="margin-bottom: 10px">
                <div class="radio">
                  <label>
                    <input name="optionsRadios" id="optionsRadios1" value="option1" ng-checked="!vm.selectedBookmark.public" type="radio" ng-disabled="true">
                    Private
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input name="optionsRadios" id="optionsRadios2" value="option2" ng-checked="vm.selectedBookmark.public" type="radio" ng-disabled="true">
                    Public
                  </label>
                </div>
              </div>

              <label class="col-lg-2 control-label">Date</label>
              <div class="col-lg-10">
                <input class="form-control" ng-disabled="true" ng-model="vm.selectedBookmark.date">
              </div>

              <label class="col-lg-2 control-label">Comments</label>
              <div class="jumbotron jumbotron-comments">
                <div class="panel panel-default" ng-repeat="comment in vm.comments | orderBy: 'date':true">
                  <button type="button" class="close" aria-hidden="true" ng-show="vm.currentUserUsername === comment.user.username" ng-click="vm.deleteComment(comment.id)">&times;</button>
                  <div class="panel-body comment-body" style="padding-top: 8px; padding-bottom: 8px">
                    <span style="font-weight: bold">{{comment.user.username}}</span> | <span style="font-style: italic; font-size: 80%">{{comment.date | date:'medium'}}</span>
                    <br>
                    {{comment.content}}
                    <span style="font-style: italic" ng-show="vm.comments.length === 0">
                      There are no comments for this bookmark, be the first to add one...
                    </span>
                  </div>
                </div>
              </div>

              <label class="col-lg-2 control-label"></label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="Write a comment..." ng-model="vm.commentBody">   
                <button class="btn btn-default col-lg-2" style="float:right" type="button" ng-click="vm.postComment(vm.commentBody)" ng-disabled="!vm.commentBody" ng-class="{disabled: !vm.commentBody}">Post</button>
              </div>

              <label class="col-lg-2 control-label" for="stars_rating" style="padding-top:15px; padding-bottom:43px">Rating</label>
              <div class="rating-stars" id="stars_rating" style="display:inline-block; margin-right:320px">
                <span ng-class="{'blue-star': vm.selectedBookmark.rating == 5}">{{vm.selectedBookmark.rating == 5 ? '★' : '☆'}}</span><span ng-class="{'blue-star': vm.selectedBookmark.rating >= 4}">{{vm.selectedBookmark.rating >= 4 ? '★' : '☆'}}</span><span ng-class="{'blue-star': vm.selectedBookmark.rating >= 3}">{{vm.selectedBookmark.rating >= 3 ? '★' : '☆'}}</span><span ng-class="{'blue-star': vm.selectedBookmark.rating >= 2}">{{vm.selectedBookmark.rating >= 2 ? '★' : '☆'}}</span><span ng-class="{'blue-star': vm.selectedBookmark.rating >= 1}">{{vm.selectedBookmark.rating >= 1 ? '★' : '☆'}}</span>
              </div>

              <div class="col-lg-10" ng-show="vm.selectedBookmark.timesRated > 0" style="float:right">Rated by {{vm.selectedBookmark.timesRated}} user{{vm.selectedBookmark.timesRated > 1 ? "s" : ""}}</div>
              <div class="col-lg-10" ng-show="vm.selectedBookmark.timesRated == 0" style="float:right">This bookmark hasn't been rated yet</div>

              <label class="col-lg-2 control-label" for="stars_rate" style="padding-top:16px;">Rate</label>
              <div ng-show="!vm.yourCurrentRating" class="rating-stars rate" id="stars_rate" style="display:inline">
                <span ng-click="vm.rateBookmark(5)">☆</span><span ng-click="vm.rateBookmark(4)">☆</span><span ng-click="vm.rateBookmark(3)">☆</span><span ng-click="vm.rateBookmark(2)">☆</span><span ng-click="vm.rateBookmark(1)">☆</span>
              </div>
              <div ng-show="vm.yourCurrentRating" class="rating-stars rate" id="stars_rate" style="display:inline">
                <span ng-click="vm.rateBookmark(5)" ng-class="{'yellow-star': vm.yourCurrentRating == 5}">☆</span><span ng-click="vm.rateBookmark(4)" ng-class="{'yellow-star': vm.yourCurrentRating >= 4}">☆</span><span ng-click="vm.rateBookmark(3)" ng-class="{'yellow-star': vm.yourCurrentRating >= 3}">☆</span><span ng-click="vm.rateBookmark(2)" ng-class="{'yellow-star': vm.yourCurrentRating >= 2}">☆</span><span ng-click="vm.rateBookmark(1)" ng-class="{'yellow-star': vm.yourCurrentRating >= 1}">☆</span>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <div class="alert-container alert alert-danger" ng-if="vm.error">
          {{vm.error}}
        </div>
      </div>
    </div>
  </div>
