/***********SPACES*********/
.space {
	height: 215px;
	width: 100%;
}
.space1 {
	height: 15px;
	width: 100%;
}
.min-space {
	height:50px;
	width: 100%;
}
.panel-space {
	height: 15px;
}

/***********NAVIGATION***********/
.navbar-fixed-top {
	border-bottom: 2px solid #34495e;
}
.navbar2 {
	border-top: 1px solid transparent;
    width: 100%;
    height: 50px;
    background-color: #ecf0f1;
    margin: 0 auto;
    margin-bottom: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
div.navbar-brand {
    width: 40px;
    height: 40px;
    padding: 0 0;
}
div.navbar-brand img {
    width: 40px;
    height: 40px;
    margin-top: 4px;
}
a.navbar-brand1 {
    width: 40px;
    height: 40px;
    padding: 0 0;
    margin-left: 15px;
}

/***********ICONS IN NAVBAR2***********/
div.nav-icons {
	width: 25px;
	height: 25px;
	float: right;
    margin-top: 12px;
    margin-right: 15px;
}
img.nav-icons {
   width: 25px;
   height: 25px;
}
/***********CONTAINERS***********/
.form-container {
	width: 400px;
	height: 400px;
	border: solid 1px #bdc3c7;
	margin: 0 auto;
	position: relative;
}
.form-container1 {
	width: 400px;
	height: 50px;
	border: solid 1px #bdc3c7;
	margin: 0 auto;
	position: relative;
}
.form-container1 p {
	color: #262626;
    font-size: 14px;
    margin: 15px;
    text-align: center;
}
.form-container2 {
	width: 400px;
	height: 250px;
	border: solid 1px #bdc3c7;
	margin: 0 auto;
	position: relative;
}
.alert-container {
	width: 380px;
	height: 50px;
	margin: 14px auto 0px auto;
	position: relative:
}
.bookmark-container {
    width: 70%;
    height: auto;
    margin: 0 auto;
    background-color: #ecf0f1;
	padding: 10px 5px 15px 5px;
	overflow: hidden;
    border-radius: 15px;
}
/***********FORMS***********/
.register-form {
	width: 350px;
	height: 380px;
	margin: 0 auto;
	position: relative;
	padding: 5px 5px;
}
.login-form {
	width: 350px;
	height: 250px;
	margin: 0 auto;
	position: relative;
	padding: 5px 5px;
}
.panel-space {
	height: 15px;
}
.btn-custom-2 {
	float: right;
	height: 19px;
}
.container .jumbotron {
	margin: 60px 10px 0px 10px;
	padding: 20px 20px 20px 20px;
}
.panel-primary {
    margin: 10px 21px;
    width: 28%;
    border-radius: 4px;
    box-shadow: 10px 10px 5px #bdc3c7;
    float: left;
    border-style: solid;
    border-color: darkgray;
    flex: 1;
}
.panel-primary:hover {
    border: 2px double #93c8ec;
    margin: 9px 21px;
}
.selected {
	border: 3px solid #3498db;
	margin: 8px 21px;
}
.selected:hover {
	border: 3px solid #3498db;
	margin: 8px 21px;
}
.panel-title {
	overflow: hidden;
}
.panel-content {
	padding: 15px;
}
.panel-body {
	overflow: hidden;
	box-sizing: border-box;
	padding: 0 0;
}
.panel-footer {
    height: 40px;
    border-top: 1px solid #2c3e50;
    padding: 0 0;
}
.panel-footer1 {
    width: 50%;
    height: 100%;
    float: left;
    border-right: 1px solid #2c3e50;
}
.panel-footer2 {
    width: 50%;
    height: 100%;
    float: right;
}
.panel {
    background: transparent;
}
img.panel {
    margin: 0 auto;
    padding: 0 0;
    width: 39px;
    height: 39px;
    text-align:center;
    margin-left: 33%;
    border: 0px;
}
.col-lg-10 {
	margin-top: 5px;
	margin-bottom: 5px;
}
fieldset legend {
	font-family: 'Poppins', sans-serif;
	padding: 15px 5px 5px 5px;
}
.btn-login {
	width: 100%;
}
.jumbotron {
	background: white;
	border: 1px;
}
.panel-title, div.panel-body {
    text-align: center;
}
/***ANGULAR FIX***/
.ng-hide.ng-hide-animate {
	display: none !important;
}